<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gabutku membawa berkah</title>
    <link rel="stylesheet" href="/static/project/style.css">
    <img src="images (2).jpeg" alt="">
</head>

<body>
    <header>
        <h2><a href="file:///F:/tugas/fahmi.html">Welcome To My Website</a></h2>
        <ul class="nav">
            <li><a href="https://www.w3schools.com/">home</a></li>
            <li><a href="https://www.uim.ac.id/">About</a></li>
            <li><a href="https://chat.whatsapp.com/ElgmRbAiwjf2kHuHyuAAZE">Help</a></li>
            <li><a href="https://t.me/BarengSayaCom">setting</a></li>
        </ul>
    </header>

    <section class="box">
        <img src="https://c.pxhere.com/images/93/fd/ff4a999fdbb4079c763c08364a6f-1443557.jpg!d"
            srcset="https://c.pxhere.com/images/93/fd/ff4a999fdbb4079c763c08364a6f-1443557.jpg!d"
            alt="sekolah, murid, anak-anak, naik, krayon, tas sekolah, pendidikan, pengetahuan, pengetahuan, school enrolment, start sekolah, warna-warni, pekerjaan rumah, gambar kartun, seni, bermain, ilustrasi, rekreasi, karakter fiksi, kesenangan, pohon, desain grafis, grafis, komputer wallpaper, dunia, liburan, waktu luang, Gambar In PxHere">
        <h1>Pendaftaran Siswa</h1>
        <h3>Dengan mengguanakan website sederhana</h3>
        <a href="https://instagram.com/pahmii.ig?igshid=YmMyMTA2M2Y=" class="boxBtn"><strong>CONTACT US</strong></a>

    </section>
</body>

</html>